# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Directorios de construcción
dist/
build/ 